@model WebStore.Models.ViewModel.RegisterViewModel;
<h2>Реєстрація нового користувача</h2>

<form method="post" asp-controller="Account" asp-action="Register">
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <br/>
    <div>
        <button type="submit" value="Зареєструватись">Зареєструватись</button>
    </div>

</form>
