@using Microsoft.AspNetCore.Identity;

@inject SignInManager<WebStore.Models.DbModel.AccountUser> SignInManager
@inject UserManager<WebStore.Models.DbModel.AccountUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HandMade_shop </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Домашня сторінка</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{
                            var user = UserManager.GetUserName(User);

                            string userRoles = "";
                            if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("Admin"))
                                {
                                    userRoles = "Admin";
                                }
                                else if (User.IsInRole("User"))
                                {
                                    userRoles = "User";
                                }
                            }
                            if (userRoles != "" || user != null)
                            {
                                var i = ViewBag.User;
                                var r = User.Identity.Name;


                            }
                            if (userRoles == "Admin")
                            {
                                @*<li><a asp-action="UserList" asp-controller="Roles">USER </a></li>
                                <li><a asp-action="" asp-controller="">Товари </a></li>*@
                        <li><a style=" margin-right: 20px;" asp-action="" asp-controller="">Кабінет </a> </li>
                            }
                        }


                        <li >@Html.ActionLink("Контакти", "Contact", "Home")</li>
                      


                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
              
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - HandMade_shop
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>


</html>
<style>
    #container {
        background-color: aliceblue;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 25px;
    }
</style>

