@using Microsoft.AspNetCore.Identity;

@inject SignInManager<WebStore.Models.DbModel.AccountUser> SignInManager
@inject UserManager<WebStore.Models.DbModel.AccountUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    string userRoles = "";

    if (User.Identity.IsAuthenticated)
    {

        if (User.IsInRole("Admin"))
        {
            userRoles = "Admin";
        }
        else if (User.IsInRole("User"))
        {
            userRoles = "User";
        }
    }
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <div id="nav_right">
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)! - @userRoles</a>
            <button type="submit">Log out</button>
        </div>
       
    </form>
}
else
{
    <div  id="nav_right">     
            <span style=" margin-right: 30px;" href="">
                Hello, Guest!
            </span>
    
        <a style=" margin-right: 30px;" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
    </div>
}

<style>
    #nav_right
    {
       
        margin-left: 350px;
    }
</style>
