
<h3 style=" margin-left: 40px;"> Контакти</h3>


<hr />
<div id="bacground">
    <p>
        <img src="~/images/tel.png" />
        &nbsp; Tel : +3809876542
    </p>
</div>
<hr />
<div>
    <p>
        <img src="~/images/em.jpg" />
        &nbsp; Email : "admin@23gmai.ua"
    </p>
</div>
<hr />
<div id="bacground">
    <a href="https://www.google.com.ua/search?ei=JckTW7-NEoGjsgHg4LaQDA&q=%D0%B3%D0%BC%D0%B8%D1%80%D1%96+1&oq=%D0%B3%D0%BC%D0%B8%D1%80%D1%96+1&gs_l=psy-ab.3...1473.3243.0.4049.0.0.0.0.0.0.0.0..0.0....0...1.1.64.psy-ab..0.0.0....0.XHOft2eBvWM">
        <img id="imgAddress" src="~/images/karta.png" alt="lorem">
    </a>
    &nbsp; &nbsp;  Адреса: Київ, вул. Гмирі, 1
</div>
<hr />

<style>
    #bacground {
        background-color: aliceblue;
    }

    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 80px;
        height: 80px;
    }

    p {
        /*font-weight: bold;
        font-size: 20px;*/
        padding: 10px;
    }

    #imgAddress {
        width: 180px;
        height: 130px;
    }
</style>


<!--<div>
    <div id="container">
        <p>
            <img src="~/images/tel.png" />-->
@*&nbsp;*@
<!--Tel : +3809876542
        </p>
    </div>
    <br />
    <div id="container">
        <p>
            <img />
            &nbsp; email : "admin@gmail.ua"
        </p>
    </div>
    <div id="container">
        <p>
            &nbsp; Адреса : Adressa: Київ, вул. Гмирі, 1
        </p>
    </div>
</div>-->
@*<style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 100px;
            height: 80px;
        }

        #bacground {
        }

        #container {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 25px;
        }
    </style>*@
