@model WebStore.Models.ViewModel.Home.UserViewModel


@if (Model != null && Model.RoleName == "Admin")
{
<div class="topMenu">
    @*<div id="contMenu">
        <a asp-action="Index" asp-controller="Category">Товари </a>
    </div>*@
    <div id="contMenu">
        <a asp-action="Index" asp-controller="Category">Категорії </a>
    </div>
    <div id="contMenu">
        <a asp-action="UserList" asp-controller="Roles">Користувачі </a>
    </div>


</div>

}
<br />
<br />
<hr />


<div id="container">
    <img style=" width: 10%;" src="~/images/logo.png" />
    <span id="text_logo" ><b>HandMade_shop</b> - товари ручної роботи</span>
</div>


<hr />

<h5 ><b style="color:brown">Групи роварів і послуг</b></h5>
<hr />

<div class="back" >
    <div style="display: inline;">
        @foreach (var cat in Model.CategoryVm)
        {
            <a class="first" href="@Url.ActionLink("Index", "Product", new
                      {
                          categoryId = cat.Id
                      })"> <img src="@cat.Img" style="width: 100%;"><h4>@cat.Name</h4></a>
                }

    </div>
</div>

  
<style>

    .back a {
        width: 30%;
        margin-left: 10px;
        margin-right: 10px;
        float: left;
        display: block;

        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }

    #text_logo {
        color: saddlebrown;       
        font-size: 25pt;
    }
   

    #contMenu {
        background: #f1f1f1;
        font-weight: bold;
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 50px;
        text-align: center;
        padding: 10px;
    }

    #container {
        background-color: aliceblue;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 25px;
    }
</style>
